.level1 {
    padding: 10px;
    background-color: #f0f0f0;

    .level2 {
        padding: 10px;
        background-color: #d0d0d0;

        .level3 {
            padding: 10p;
            background-color: #b0b0b0;

            .level4 {
                padding: 10px;
                background-color: #909090;

                .level5 {
                    padding: 10px;
                    background-color: #707070;
                    color: white;
                }
            }
        }
    }
}

header nav ul{
    width: 100%;
    top: 45px;
    
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  
    }
  header nav ul li {
    position: relative;
  } 
  header nav ul li:hover {
    filter: brightness(8);
   
  } 
  header nav ul li a {
    position: relative;
    text-decoration: none;
    color:#060A24;
    line-height: 28px;
    display: block;}
  
    
  header nav ul li a:hover {
    color:#00F3BB ;
    text-decoration:line-through;
